/*********************** Profile Upload Loading ************************/
.loadingRing div {
  animation: loadingRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}
.loadingRing div:nth-child(1) {
  animation-delay: -0.35s;
}
.loadingRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.loadingRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingRing {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
